.App {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.btn{
  margin: 10px;
  width: 210px;
  height: 40px;
  font-size: 1.3em;
  color: #fff;
  background-color: #5abccc;
  border: 3.5px solid #000;
  box-shadow: 5px 5px 2px  #000;
}